html, body {
    height:100%
}

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #b63b37, #524ab6) 

}


#image {
    max-width: 200px;
    max-height: 200px;
}

#main {
    padding: 20px;
}

#container {
    background-color: transparent;
}

#slogan {
    padding: 20px;
    color: slategrey;
}
#search {
    margin: 20px;
}
.first {
    width: 100%;
    height: 650px;
    /* background-color: #b5e9e9;
    background-image: linear-gradient(to bottom right, #3ab3b3, #96b884) */

    background-image: linear-gradient(to right, #b63b37, #524ab6) 
    
}

.second {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to right, #b63b37, #524ab6) 
}

#lyricsField {
    /* background-color: #dcf3d0; */
    background-color: transparent;
    color: #b5e9e9;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    border: 2px solid;
    border-color: #b5e9e9;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
#tabsField {
    /* background-color: #ffe1d0; */
    background-color: transparent;
    color:#ffb347;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    border: 2px solid;
    border-color:#ffb347;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

#historyField {
    /* background-color: #fef6dd; */
    background-color: transparent;
    color: rgb(169, 169, 238);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    border: 2px solid;
    border-color: rgb(193, 193, 248);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

#songList {
    list-style: none;
}

#image {
    max-width: 200px;
    max-height: 200px;
}

#slogan {
    padding: 20px;
    color: slategrey;
}
#search {

    margin: 20px;
}

.second {
    width: 100%;
    height: 100%;
    background-color: teal;

}


#yeezyField {
    background-color: transparent;
    color: rgb(169, 169, 238);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    border: 2px solid;
    border-color: rgb(193, 193, 248);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    margin: 20px;
}


.songsterButtons {
    color: #3eb9b9;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    border: 2px solid #b5e9e9;
    font-size: 18px;
    margin-bottom: 5px;
    background: rgba(30, 52, 142, 0.5);
    list-style: none;

}
.happiButtons {
    color:#b5e9e9;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    border: 2px solid rgb(144, 117, 112);;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 5px;
    margin: 1px;
    background: rgba(30, 52, 142, 0.5);

}
#subtitle {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    min-height: 100%;
    min-width: 100%;
}

#YEEZY {
    background-color: beige;
    padding: 5px;
    border-radius: 5px;
  }
  